.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal {
  position: relative;
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}

.btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  padding: 8px;

  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: #c9356c;
  background-color: #f48db4;
  transition: transform 250ms ease-in-out, color 250ms ease-in-out,
    background-color 250ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  color: #f48db4;
  background-color: #c9356c;
}
